.custombtn {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px!important;
    font-family: PTSans-Regular,"sans-serif";
    font-weight: 700;
    letter-spacing: 0;
    background-color: #83d000;
    border-radius: 3px!important;
    border: none!important;
    line-height: 45px;
    padding: 0 25px;
}